header {
  display: flex;
  background-color: #1e242b;
  justify-content: space-between;
  padding: 0 2rem;
  height: 5rem;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
}
header > button {
  display: none;
}
#nav2 {
  display: none;
}

@media only screen and (max-width: 440px) {
  #nav1 {
    display: none;
  }
  header > button {
    display: inline-block;
  }
}
