nav {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e242b;
  color: white;
}

nav > ul {
  list-style: none;
  /* border: 2px solid green; */
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}
nav > ul > li {
  /* border: 2px solid gold; */
  font-size: 1.5rem;
}
